fuel/app/logs/*/*/*
fuel/app/cache/*/*
fuel/app/tmp/*
fuel/app/config/development/db.php
fuel/app/config/production/*.php
fuel/app/config/test/db.php
fuel/app/config/crypt.php
fuel/app/config/migrations.php
public/assets/img/avatar/*
public/assets/img/portfolio/*
.project
.DS_Store
*.tmproj
public/*.tmproj
